<div class="back" style="background-color: #f3f3f3;">
    <div class="img" style="width: 100%; height: 500px;">
        <div class="banner-text animated fadeInLeft"><br>
            <div class="a1">
                <h1>Get lab tests and full body <br> checkups from the comfort<br> of your home.</h1>
                <br> &nbsp; <a href="#" class="btn btn-primary" style="font-size: 20px;">See all packages</a>
            </div>
        </div>
    </div>
    <div class="col-sm-13 ">
        <div class="card text-center">

            <div class="card-body">
                <h2 class="card-title">Health Checkups and Screenings For</h2>

                <div class="row"><br><br>
                    <div class="col-sm-1 ">
                        <div class="card-body">
                            <img src="../../assets/d.jpg" alt="" class="rounded-circle" class="center" style="float:left;height: 140px; border-radius: 50%; width: 140px;">
                        </div>
                        <div class="name">
                            Diabetes
                        </div>
                    </div>
                    <div class="col-sm-1 " style="margin-left: 6%">
                        <div class="card-body">
                            <img src="../../assets/b.jpg" alt="" class="rounded-circle" class="center" style="float:left;height: 140px; border-radius: 50%; width: 140px;"><br>

                        </div>
                        <div class="name">Cancer</div>
                    </div>
                    <div class="col-sm-1 " style="margin-left: 6%">
                        <div class="card-body">
                            <img src="../../assets/s.png" alt="" class="rounded-circle" class="center" style="float:left;height: 140px; border-radius: 50%; width: 140px;">
                        </div>
                        <div class="name">Skin</div>
                    </div>
                    <div class="col-sm-1 " style="margin-left: 6%">
                        <div class="card-body">
                            <img src="../../assets/k.jpg" alt="" class="rounded-circle" class="center" style="float:left;height: 140px; border-radius: 50%; width: 140px;">
                        </div>
                        <div class="name">Kidney</div>
                    </div>
                    <div class="col-sm-1 " style="margin-left: 6%">
                        <div class="card-body">
                            <img src="../../assets/di.jpg" alt="" class="rounded-circle" class="center" style="float:left;height: 140px; border-radius: 50%; width: 140px;">
                        </div>
                        <div class="name">Digestion</div>
                    </div>
                    <div class="col-sm-1 " style="margin-left: 6%">
                        <div class="card-body">
                            <img src="../../assets/bone.jpg" alt="" class="rounded-circle" class="center" style="float:left;height: 140px; border-radius: 50%; width: 140px;">
                        </div>
                        <div class="name">Bone</div>
                    </div>
                    <div class="col-sm-1 " style="margin-left: 6%">
                        <div class="card-body">
                            <img src="../../assets/f.jpg" alt="" class="rounded-circle" class="center" style="float:left;height: 140px; border-radius: 50%; width: 140px;">
                        </div>
                        <div class="name">Feaver</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-13 ">
        <div class="card text-center">
            <div class="card-body" style="background-color:#f3f3f3">
                <h2 class="card-title">Top booked Medical tests</h2>
                Get 10% Health Cashback* T&C
                <br><br>
                <div class="card-group">
                    <div class="col-sm-4 ">
                        <div class="card" style="margin-left: 6%; ">
                            <div class="card-body">
                                <h5 class="card-title">Lipid Profile</h5>
                                <hr>
                                <div class="he">Ldl Cholesterol Test</div>
                                <div class="te">Also known as Cholesterol Ldl Enzymatic Colorimetric Method Blood</div>
                                <hr>
                                <div class="he">Hdl Cholesterol Test</div>
                                <div class="te">Also known as Cholesterol Hdl Enzymatic Colorimetric Method Blood</div>
                                <hr>
                                <div class="he">Vldl Cholesterol Test</div>
                                <div class="te">Also known as Vldl Cholesterol Blood</div>
                                <hr>
                                <div class="he">Total Cholesterol Test</div>
                                <div class="te">Also known as Cholesterol Test</div>
                                <hr>
                                <div class="he">Triglycerides Blood Test</div>
                                <div class="te">Also known as Triglycerides Blood</div>
                                <br>
                                <a href="#" class="btn btn-primary">Book Now</a>

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 ">
                        <div class="card" style="margin-left: 6%; ">
                            <div class="card-body">
                                <h5 class="card-title">Liver Profile</h5>
                                <hr>
                                <div class="he">Gamma Glutamyl Transferase</div>
                                <div class="te">Also known as GGT</div>
                                <hr>
                                <div class="he">Total Bilirubin</div>
                                <div class="te">Bilirubin Total Blood</div>
                                <hr>
                                <div class="he">Ast Test</div>
                                <div class="te">Also known as SGOT</div>
                                <hr>
                                <div class="he">Alp Test</div>
                                <div class="te">Alkaline Phosphatase</div>
                                <hr>
                                <div class="he">Albumin Test</div>
                                <div class="te">Albumin Blood</div>
                                <br>
                                <a href="#" class="btn btn-primary">Book Now</a>

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 ">
                        <div class="card" style="margin-left: 6%; ">
                            <div class="card-body">
                                <h5 class="card-title">Blood Sugar</h5>
                                <hr>
                                <div class="he">Hba1C Test</div>
                                <div class="te">Also known as Glycosylated Haemoglobin Blood</div>
                                <hr>
                                <div class="he">Glucose Fasting Blood</div>
                                <div class="te">Glucose Fasting Blood</div>
                                <hr>
                                <div class="he">Random Blood Sugar Test</div>
                                <div class="te">Also known as RBS</div>
                                <hr>
                                <div class="he">Blood Sugar Levels After Eating</div>
                                <div class="te">Post Prandial Blood Sugar</div>
                                <hr>
                                <div class="he">Creatinine Test</div>
                                <div class="te">Creatinine Conventional Blood</div> <br>
                                <a href="#" class="btn btn-primary">Book Now</a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer"></div>