<div class="sidenav">
    <img src="https://www.freeiconspng.com/uploads/profile-icon-9.png" alt="" height="100px" width="100px">
    <a routerLink="update-patient-profile">Update Profile</a>
    <a routerLink="view-profile">View Profile</a>
    <a routerLink="update-password">Update Password</a>
    <a routerLink="doctors-patient">Doctors Details</a>
    <a routerLink="all-appointment-patient">Appointment Status</a>
    <!-- <a routerLink="add-rating">Add Rating</a> -->
    <!-- <a routerLink="all-ratings">Doctors Rating Details</a> -->
    <a routerLink="all-availabilities">Availability Details</a>
</div>
<!-- <a routerLink="patient-inner"><button class="btn btn-outline-info" style="float: right;margin-right: 40px;margin-top: 40px;">Go Back</button></a> -->
<router-outlet></router-outlet>