.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}


/* h1 {
    text-shadow: 2px 2px 5px navy;
} */


/* .card-body {
    width: 500px;
    height: 450px;
    padding: 15px;
    background-color: white;
    box-shadow: 10px 10px 5px grey;
} */

div.card {
    box-shadow: 0 4px 8px 0 rgba(65, 64, 64, 0.9), 0 6px 20px 0 rgba(0, 0, 0, 0.9);
    height: 450px;
}

.jumbotron {
    background-image: url(https://cdn.pixabay.com/photo/2017/02/20/14/18/health-2082630_1280.jpg);
}