
<div class="footer">
	<div class="row">
		<div class="col-lg-3 col-xs-6"
			style="margin-left: 7%;margin-top: 20px; color:white;border-right: 3px solid white;">
			<div class="footer-text">
				<h3 style="color: white;">OUR LOCATION</h3>
				<p>Make appointments on the go, right from your smartphone, with our top-rated mobile app</p>
				<h6><span><i class="fa fa-envelope"></i> </span>By E-mail: info@Bookmydoc.com </h6>
				<h6><span><i class="fa fa-phone"></i> </span>By Phone: </h6>
				<h6><span><i class="fa fa-map-marker"></i> </span>Address: 121, honey Street, Home City, USA</h6>
			</div>
		</div>
		<div class="col-lg-3 col-xs-6"
			style="margin-left: 7%;margin-top: 20px; color:white;border-right: 3px solid white;">
			<div class="footer-text ">
				<h3 style="color: white;">How It Works ?</h3>
				<ul>
					<li>How Bookmydoc Works</li>
					<li>Bookmydoc in Safety</li>
					<li>Terms &amp; Conditions</li>
					<li>Contact Us</li>
					<li>Policies</li>
					<li>Faqs</li>
				</ul>
			</div>
		</div>
		<div class="col-lg-3 col-xs-6" style="margin-left: 7%;margin-top: 20px; color:white;">
			<div class="footer-text last-footer-text">
				<h3 style="color: white;">Villes</h3>
				<ul>
					<li>Chennai</li>
					<li>Bengaluru</li>
					<li>Kolkata</li>
					<li>Mumbai</li>
					<li>Hyderabad</li>
					<li>Pune</li>
				</ul>
			</div>
		</div>
	</div>
</div>