<div class="back" style="background-color: #f3f3f3;">
    <div class="img" style="width: 100%; height: 500px;">
        <div class="banner-text animated fadeInLeft"><br>
            <div class="a1">
                <p>HEALTHCARE AT </p>
            </div>
            <div class="a2">
                <h1>YOUR DEMAND!!!</h1>
                <p>And it's free !</p>
            </div><br><br>
            <div class="a4">
                <p>Find a nearby doctor or dentist <br> and book an appoinment instantly.</p><br>
            </div>
        </div>
    </div>
    <div class="row"><br><br>
        <div class="col-sm-6 ">
            <div class="card text-center">
                <div class="card-body">
                    <img src="https://seeadoc.in/images/doctor.png" alt="" class="rounded-circle" class="center" style="float:left;height: 90px; width: 90px;">
                    <h5 class="card-title">I'm Doctor</h5>
                    <p class="card-text">Quicker way for your patient to schedule an appointment online for free!.</p>
                    <a routerLink="/register-doctor" class="btn btn-primary">Join now</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body text-center">
                    <img src="https://www.veershaivamatch.com/images/membericon.png" alt="" class="rounded-circle" class="center" style="float:left;height: 90px; width: 90px;">
                    <h5 class="card-title">I'm a new Patient</h5>
                    <p class="card-text">Quicker way for your patient to schedule an appointment online for free!.</p>
                    <a routerLink="/register-patient" class="btn btn-primary">Join now</a>
                </div>
            </div>
        </div>



    </div>
</div>

<app-footer></app-footer>