<div class="abc"><br>
    <h2 class="section-header "> Some<span class="content-header wow fadeIn " data-wow-delay="0.2s" data-wow-duration="2s"> Health Tips</span></h2>
</div>
<div class="card-main col-md-12">
    <div class="card-group">
        <div class="row">

            <div class="card offset-3 mt-4" style="width: 400px;float: right;height: 290px; margin-left: 4%;">
                <div class="card-body mb-2">
                    <img src="../../assets/1.jpg" alt="" class="rounded-circle" class="center" style="float:left;height: 130px; width: 130px; border-radius: 50%;">
                    <div class="col-md-8  offset-4">
                        <h5 class="card-title" style="color: #a01f62;">Wash your hands more often</h5>
                        <p class="card-text" style="color: darkcyan; font-style: italic;">You can never imagine the number of germs your hands carry. It is extremely important for you to keep your hands always clean.
                        </p>
                    </div>
                </div>
            </div>
            <div class="card offset-3 mt-4" style="width: 400px;float: right;height: 290px; margin-left: 4%;">
                <div class="card-body mb-2">
                    <img src="../../assets/6.jpg" alt="" class="rounded-circle" class="center" style="float:left;height: 130px; width: 130px; border-radius: 50%;">
                    <div class="col-md-8  offset-4">
                        <h5 class="card-title" style="color: #a01f62;">Bath regularly</h5>
                        <p class="card-text" style="color: darkcyan; font-style: italic;">One important personal hygiene tip is to bathe daily. Scrubbing your body with soaps or body wash helps removing dead cells from the skin. Regular bathing helps remove all the germs, dirt and sweat from your body.
                        </p>
                    </div>
                </div>
            </div>
            <div class="card offset-3 mt-4" style="width: 400px;float: right;height: 290px; margin-left: 4%;">
                <div class="card-body mb-2">
                    <img src="../../assets/5.jpg" alt="" class="rounded-circle" class="center" style="float:left;height: 130px; width: 130px; border-radius: 50%;">
                    <div class="col-md-8  offset-4">
                        <h5 class="card-title" style="color: #a01f62;">Brush your teeth twice a day</h5>
                        <p class="card-text" style="color: darkcyan; font-style: italic;">For stronger gums, you need to brush your teeth in between meals. Brush your teeth regularly is important personal hygiene tip to prevent gum diseases which can lead to other illness and result in further serious problems.
                        </p>
                    </div>
                </div>
            </div>
            <div class="card offset-3 mt-4" style="width: 400px;float: right;height: 290px; margin-left: 4%;">
                <div class="card-body mb-2">
                    <img src="../../assets/4.jpg" alt="" class="rounded-circle" class="center" style="float:left;height: 130px; width: 130px; border-radius: 50%;">
                    <div class="col-md-8  offset-4">
                        <h5 class="card-title" style="color: #a01f62;">Cut fingernails and toenails</h5>
                        <p class="card-text" style="color: darkcyan; font-style: italic;"> Cutting nails regularly is an important personal hygiene tip for not just cleanliness purposes but also for preventing hangnails, breakage, and other potential damage to your nails.
                        </p>
                    </div>
                </div>
            </div>
            <div class="card offset-3 mt-4" style="width: 400px;float: right;height: 290px; margin-left: 4%;">
                <div class="card-body mb-2">
                    <img src="../../assets/11.jpg" alt="" class="rounded-circle" class="center" style="float:left;height: 130px; width: 130px; border-radius: 50%;">
                    <div class="col-md-8  offset-4">
                        <h5 class="card-title" style="color: #a01f62;">Exercise Every Day</h5>
                        <p class="card-text" style="color: darkcyan; font-style: italic;"> The more active you are, the better, Meng says. Exercise boosts your heart health, builds muscle and bone strength, and wards off health problems.<br> Aim for 2 and a half hours of moderate activity, like brisk walking or dancing,
                            every week.
                        </p>
                    </div>
                </div>
            </div>
            <div class="card offset-3 mt-4" style="width: 400px;float: right;height: 290px; margin-left: 4%;">
                <div class="card-body mb-2">
                    <img src="../../assets/3.jpg" alt="" class="rounded-circle" class="center" style="float:left;height: 130px; width: 130px; border-radius: 50%;">
                    <div class="col-md-8  offset-4">
                        <h5 class="card-title" style="color: #a01f62;">Clean hair</h5>
                        <p class="card-text" style="color: darkcyan; font-style: italic;"> For long and beautiful hair, an important personal hygiene tip is wash your hair regularly. Massage oil for dry scalp and wash it with shampoo.
                        </p>
                    </div>
                </div>
            </div>
            <div class="card offset-3 mt-4" style="width: 400px;float: right;height: 290px; margin-left: 4%;">
                <div class="card-body mb-2">
                    <img src="../../assets/2.jpg" alt="" class="rounded-circle" class="center" style="float:left;height: 130px; width: 130px; border-radius: 50%;">
                    <div class="col-md-8  offset-4">
                        <h5 class="card-title" style="color: #a01f62;">Choose a daily face cleanser</h5>
                        <p class="card-text" style="color: darkcyan; font-style: italic;"> The skin of your face is more sensitive than any other part of your body. An important personal hygiene tip is to wash your face at least thrice a day.</p>
                    </div>
                </div>
            </div>
            <div class="card offset-3 mt-4" style="width: 400px;float: right;height: 290px; margin-left: 4%;">
                <div class="card-body mb-2">
                    <img src="../../assets/7.jpg" alt="" class="rounded-circle" class="center" style="float:left;height: 130px; width: 130px; border-radius: 50%;">
                    <div class="col-md-8  offset-4">
                        <h5 class="card-title" style="color: #a01f62;">Eat a variety of food </h5>
                        <p class="card-text" style="color: darkcyan; font-style: italic;"> In your daily diet, aim to eat a mix of staple foods such as wheat, maize, rice and potatoes with legumes like lentils and beans, plenty of fresh fruit and veg, and foods from animal sources (e.g. meat, fish, eggs and milk).
                        </p>
                    </div>
                </div>
            </div>
            <div class="card offset-3 mt-4" style="width: 400px;float: right;height: 290px; margin-left: 4%;">
                <div class="card-body mb-2">
                    <img src="../../assets/8.jpg" alt="" class="rounded-circle" class="center" style="float:left;height: 130px; width: 130px; border-radius: 50%;">
                    <div class="col-md-8  offset-4">
                        <h5 class="card-title" style="color: #a01f62;">Cut back on salt</h5>
                        <p class="card-text" style="color: darkcyan; font-style: italic;">Too much salt can raise blood pressure, which is a leading risk factor for heart disease and stroke. We consume double the WHO recommended limit of 5 grams (equivalent to a teaspoon) a day.
                        </p>
                    </div>
                </div>
            </div>
            <div class="card offset-3 mt-4" style="width: 400px;float: right;height: 290px; margin-left: 4%;">
                <div class="card-body mb-2">
                    <img src="../../assets/9.jpg" alt="" class="rounded-circle" class="center" style="float:left;height: 130px; width: 130px; border-radius: 50%;">
                    <div class="col-md-8  offset-4">
                        <h5 class="card-title" style="color: #a01f62;">Limit sugar intake</h5>
                        <p class="card-text" style="color: darkcyan; font-style: italic;">Too much sugar is not only bad for our teeth, but increases the risk of unhealthy weight gain and obesity, which can lead to serious, chronic health problems.</p>
                    </div>
                </div>
            </div>
            <div class="card offset-3 mt-4" style="width: 400px;float: right;height: 290px; margin-left: 4%;">
                <div class="card-body mb-2">
                    <img src="../../assets/10.jpg" alt="" class="rounded-circle" class="center" style="float:left;height: 130px; width: 130px; border-radius: 50%;">
                    <div class="col-md-8  offset-4">
                        <h5 class="card-title" style="color: #a01f62;">Reduce use of certain fats and oil</h5>
                        <p class="card-text" style="color: darkcyan; font-style: italic;">Replace butter, lard and ghee with healthier oils such as soybean, canola (rapeseed), corn, safflower and sunflower.<br> Choose white meat like poultry and fish which are generally lower in fats than red meat.

                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="footer"></div>