<div class="sidenav">
    <img src="https://www.freeiconspng.com/uploads/profile-icon-9.png" alt="" height="100px" width="100px">
    <a routerLink="update-password">Update Password</a>
    <a routerLink="all-doctors">Doctors Details</a>
    <a routerLink="all-patients">Patients Details</a>
    <a routerLink="all-appointments-admin">Appointments</a>
    <a routerLink="all-ratings">Doctors Ratings</a>
    <a routerLink="all-history">View History</a>
    <a routerLink="all-users">View Users</a>
</div>
<router-outlet></router-outlet>