<div class="container offset-3" style="margin-top: 60px;">
    <div class="col-md-10 float-left">
        <table class="table table-bordered table-hover">
            <thead style="background-color: rgb(235, 227, 234);">
                <tr>
                    <th>Index</th>
                    <th>userEmail Id</th>
                    <th>Username</th>
                    <th>Password</th>
                    <th>Role</th>
                    <th>Delete</th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor='let user of users; index as i'>
                    <td>{{i+1}}</td>
                    <td>{{user.userEmail}}</td>
                    <td>{{user.userName}}</td>
                    <td>{{user.userPassword}}</td>
                    <td>{{user.role}}</td>
                    <td>

                        <button class=" btn btn-outline-dark float-right " (click)='deleteUser(user)'>Delete</button>

                    </td>
                </tr>


            </tbody>

        </table>

    </div>
</div>