<div class="abc">
    <h4>
        Meet a Doctor</h4>
    <a class="offset-9" routerLink="/patient-inner"><button class="btn btn-outline-info">Book Appointments Here</button></a>
</div>


<div class="container col-md-10" style="margin-top: 20px;">
    <div class="row">

        <div class="card mt-4" style="width: 350px; float: right;height: 150px;background-color: lightgrey;">
            <div class="card-body mb-2">
                <img src="../../assets/cardiology.png" class="card-img" alt="..." class="rounded-circle" style="width: 100px;height: 100px;">

                <i class="mt-4" style="margin-left: 20px;">Cardiologist</i>

            </div>
        </div>
        <div class="card mt-4 " style="width: 350px;float:right;height: 150px;background-color: lightgrey;margin-left: 50px;">
            <div class="card-body mb-2">
                <img src="../../assets/dentist2.jpg" class="card-img" alt="..." class="rounded-circle" style="width: 100px;height: 100px;">
                <i class="mt-4" style="margin-left: 20px;">Dentist</i>
            </div>
        </div>
        <div class="card mt-4" style="width: 350px;float: right;height: 150px;background-color: lightgrey;margin-left: 50px;">
            <div class="card-body mb-2">
                <img src="../../assets/cosmetic-dermatology.png" class="card-img" alt="..." class="rounded-circle" style="width: 100px;height: 100px;">
                <i class="mt-4" style="margin-left: 20px;">Dermotologist</i>
            </div>
        </div>
        <div class="card  mt-4 " style="width: 350px;float: right;height: 150px;background-color: lightgrey;">
            <div class="card-body mb-2">
                <img src="../../assets/gyno2.png" class="card-img" alt="..." class="rounded-circle" style="width: 100px;height: 100px;">
                <i class="mt-4" style="margin-left: 20px;">Gynocologist</i>
            </div>
        </div>
        <div class="card mt-4 " style="width: 350px;float: right;height: 150px;background-color: lightgrey;margin-left: 50px;">
            <div class="card-body mb-2">
                <img src="../../assets/GeneralSurgeon.jpg" class="card-img" alt="..." class="rounded-circle" style="width: 100px;height: 100px;">
                <i class="mt-4" style="margin-left: 20px;">General Surgeon</i>
            </div>
        </div>
        <div class="card mt-4 " style="width: 350px;float: right;height: 150px;background-color: lightgrey;margin-left: 50px;">
            <div class="card-body mb-2">
                <img src="../../assets/orthopedics-icon1.png" class="card-img" alt="..." class="rounded-circle" style="width: 100px;height: 100px;">
                <i class="mt-4" style="margin-left: 20px;">Orthopedix</i>
            </div>
        </div>
        <div class="card mt-4 " style="width: 350px;float: right;height: 150px;background-color: lightgrey;">
            <div class="card-body mb-2">
                <img src="../../assets/lungs2.jpg" class="card-img" alt="..." class="rounded-circle" style="width: 100px;height: 100px;">
                <i class="mt-4" style="margin-left: 20px;">Lungs and Breathing</i>
            </div>
        </div>
        <div class="card mt-4 " style="width: 350px;float: right;height: 150px;background-color: lightgrey;margin-left: 50px;">
            <div class="card-body mb-2">
                <img src="../../assets/internalMed1.jpg" class="card-img" alt="..." class="rounded-circle" style="width: 100px;height: 100px;">
                <i class="mt-4" style="margin-left: 20px;">Internal Medicine</i>
            </div>
        </div>
        <div class="card mt-4 " style="width: 350px;float: right;height: 150px;background-color: lightgrey;margin-left: 50px;">
            <div class="card-body mb-2">
                <img src="../../assets/physio2.png" class="card-img" alt="..." class="rounded-circle" style="width: 100px;height: 100px;">
                <i class="mt-4" style="margin-left: 20px;">Physiotherapist</i>
            </div>
        </div>
        <div class="card mt-4 " style="width: 350px;float: right;height: 150px;background-color: lightgrey;">
            <div class="card-body mb-2">
                <img src="../../assets/gyno3.jpg" class="card-img" alt="..." class="rounded-circle" style="width: 100px;height: 100px;">
                <i class="mt-4" style="margin-left: 20px;">Pediotretian</i>
            </div>
        </div>
        <div class="card mt-4 " style="width: 350px;float: right;height: 150px;background-color: lightgrey;margin-left: 50px;">
            <div class="card-body mb-2">
                <img src="../../assets/ayurveda1.jpg" class="card-img" alt="..." class="rounded-circle" style="width: 100px;height: 100px;">
                <i class="mt-4" style="margin-left: 20px;">Ayurveda</i>
            </div>
        </div>
    </div>
</div>