<div class="sidenav">
    <img src="https://www.freeiconspng.com/uploads/profile-icon-9.png" alt="" height="100px" width="100px">
    <a routerLink="update-doctor-profile">Update Profile</a>
    <a routerLink="view-doctor-profile">View Profile</a>
    <a routerLink="update-password">Update Password</a>
    <a routerLink="doctor-availability">Patients Details</a>
    <!-- <a routerLink="add-appointment"></a>
    <a routerLink="update appointment">Update-Appointment</a> -->
    <a routerLink="all-appointments">Appointments Details</a>
    <a routerLink="add-availability">Add-Availability </a>
    <a routerLink="view-availabilities">View Availability </a>
</div>
<router-outlet></router-outlet>